offwhite = #F7F7F4
offblack = #333333

*
	margin 0
	padding 0
	list-style none
	text-decoration none
	font-family 'Roboto', sans-serif
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	position relative

html, body
	width 100%
	height 100%

body
	background-color offblack
	position relative
	color offwhite
	font-size 16px

a
	color inherit
	margin 0
	padding 0

a, .link
	text-decoration underline
a:hover, .link:hover
	text-decoration none

// This button was generated using CSSButtonGenerator.com
button
	background-color #b8e356
	text-indent:0
	border 1px solid #83c41a
	color offblack
	font-size 15px
	font-style normal
	height 35px
	line-height 35px
	text-decoration none
	text-align center
	padding-left 2px
	padding-right 2px

button:hover
	background-color #a5cc52

button:active
	top 1px

